<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/waitangi.html">Waitangi</a></li>
	        		<li><a href="/ted.html">Ted's Art Glass</a></li>
	        		<li><a href="/running.html">Running</a></li>
							<li><a href="/roger.html">Roger</a></li>
							<li><a href="/newzealand.html">New Zealand</a></li>
							<li><a href="/china.html">China</a></li>
							<li><a href="/more.html">More</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>

	        		
				</ul>
			</footer>
		</body>
	</html>
