<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About Us</a></li>
				<li><a href="/party.html">Wedding Party</a></li>
				<li><a href="/wedding.html">Wedding Details & Lodging</a></li>
	        		<li><a href="/area.html">Area Attractions</a></li>
				<li><a href="/gettingthere.html">Getting There</a></li>
				<li><a href="/engage.html">Engagement Photos</a></li>
				<li><a href="https://www.wanderable.com/hm/zashley/">Registry</a></li>
		    		<li><a href="/weddingphotos.html">Wedding Photos</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="https://github.com/zdziedziak">github.com/zdziedziak</a></li>
				</ul>
			</footer>
		</body>
	</html>
