<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="css/lightbox.css" rel="stylesheet">
			<script src="js/lightbox-plus-jquery.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/syd.html">Sydney</a></li>
				<li><a href="/mar.html">Marlborough</a></li>
				<li><a href="/tas.html">Tasman</a></li>
				<li><a href="/hok.html">Hokitika</a></li>
				<li><a href="/pun.html">Punakaki</a></li>
				<li><a href="/fox.html">Fox Glacier</a></li>
				<li><a href="/wes.html">Westland</a></li>
				<li><a href="/wan.html">Wanaka</a></li>
				<li><a href="/mil.html">Milford</a></li>
				<li><a href="/cook.html">Mt Cook</a></li>
				<li><a href="/christ.html">Christchurch</a></li>
				<li><a href="/well.html">Wellington</a></li>
				
			</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>

	        		<li><a href="https://github.com/zdziedziak">github.com/zdziedziak</a></li>
				</ul>
			</footer>
		</body>
	</html>
